.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}

.item{
    padding: 12px;
    border-bottom: 1px solid rgb(155, 151, 151);
    width: 40vh;
}

button{
    margin-left: 12px;
}